@import url('https://fonts.googleapis.com/css?family=Oswald');

@import url('https://fonts.googleapis.com/css?family=Sacramento');

@import url('https://fonts.googleapis.com/css?family=Poiret+One');

* {
    box-sizing: border-box;
}

.hug {
    color: white;
    font-family: 'Sacramento', cursive;
    font-size: 2.5rem;
    margin-top: -60px;
    margin-bottom: 10px;
    font-weight: bolder;

}


nav {
    width: 100%;
    background-color: #D5C9BB;
}

nav > a {
    font-family: 'Oswald', sans-serif;
    color: #4D6E7F;
    font-size: 1.5rem;
    text-decoration: none;
    margin-top: 30px;
    margin-bottom: 10px;
    margin-right: 55px;
    margin-left: 10px;
    float: right;
}


.clearfix::after {
    content: "";
    clear: both;
    display: table;
}


h1 {
    color: #C5742C;
    font-size: 7rem;
    font-family: 'Poiret One', cursive;
    text-align: center;
    margin-top: -100px;
}


h2 {
    color: #4D6E7F;
    font-size: 4rem;
    font-family: 'Sacramento', cursive;
    text-align: center;
    margin: 0;
}

h3 {
    color: #C5742C;
    font-size: 2rem;
    font-family: 'Oswald', sans-serif;
    margin-left: 80px;
}

h4 {
    color: #4D6E7F;
    font-size: 4rem;
    font-family: 'Sacramento', cursive;
    text-align: center;
    margin-left: 400px;
    margin-bottom: -10px;
;
}

p {
    color: #4D6E7F;
    font-family: 'Oswald', sans-serif;
    font-size: 1.2rem;
    text-align: center;
}

.coltxt {
    padding: 1rem;
    text-align: center;
    font-family: 'Oswald', sans-serif;
    color: #4D6E7F;

}


.section {
    margin-left: 20px;
    margin-right: 20px;
}

.divider-2 {
    background: url(yumcoffee.jpg) no-repeat center center fixed;
    background-size: cover;
    height: 65vh;
    margin-bottom: 30px;


}

.divider-3 {
    background: url(doughnuts.jpeg) no-repeat center center fixed;
    background-size: cover;
    height: 65vh;
    margin-bottom: 30px;


}

.divider-1 {
    background: url(berrymuffin.jpeg) no-repeat center center fixed;
    background-size: cover;
    height: 65vh;
    margin-bottom: 30px;
}

.divider-4 {
    background: url(cinnamonbun.png) no-repeat center center fixed;
    background-size: cover;
    height: 65vh;
    margin-bottom: 30px;


}

.img {
    margin-bottom: 20px;
    margin-top: 20px;
    margin-left: 230px;
    margin-right: 150px;
}


nav > a:hover {
    font-size: 1.55rem;
    color: #C5742C;
}

body {
    background-color: #D5C9BB;
    text-align: center;

}


.container1 {
    width: 150px;
    height: 150px;
}

.container2 {
    width: 800px;
    height: 300px;
    margin-top: -270px;
    margin-bottom: -135px;
    align-content: center;
    margin-left: 300px;
}


.logo {
    margin-bottom: 0px;
    margin-top: 25px;
    margin-left: 20px;
}


table, td {
    border: 1px solid white;
    font-family: 'Oswald', sans-serif;
    margin-left: 350px;
    color: #4D6E7F;
    border-collapse: collapse;
    text-align: center;

}

th {
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
    border: 1px solid white;
    color: #C5742C;
}

.filter {
    float: left;
    font-family: 'Oswald', sans-serif;

}

input {
    font-family: 'Oswald', sans-serif;
    margin-bottom: 30px;
    margin-left: 80px;
    background-color: #4D6E7F;
    color: white;

}

a {
    color: #C5742C;
}

hr {
    border-top: 3px solid white;
    width: 75%;
}
